<!DOCTYPE html>
<html lang="{{ language_attributes }}">
<head>
    <meta charset="{{ charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }}</title>
    {{ action('wp_head') }}
</head>
<body {{ body_classes }}>
{% include 'content/content-header.twig' %}
